propertywala/build/
selenium/Postings_photos/
selenium/agent.zip
selenium/agent/agent/agent1
selenium/agent/agent/agents (copy).csv
selenium/agent/agent/agents.csv
selenium/makaanform/andheri/
olx/olx/olxSpider_items.csv

**/build
**/project.egg-info
*setup.py
*.zip
*.csv
*.cfg
*.yml

